ul li {
  display: flex !important;
}

.add-items {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-wrapper .form-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task p {
  margin-left: 10px;
  margin-top: 14px;
  display: flex;
}
